@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import "../../styles/colors.scss";
@import "../../styles/shadows.scss";


.navigation {
    align-items: center;
    color: $smallCardMain;
    box-shadow: $cardShadow;
    color: white;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
  
    a {
      color: inherit;

      :hover {
        color: $yellowFun;
      }
    }

    .nav-item {
      font-size: 2.5rem;
    }

    .nav-start-items {
      margin-right: 4rem;
    }

    .nav-mid-items {
      .logo {
        font-family: 'Fasthand', cursive;

      }
    }
    .nav-end-items{
      display: flex;
      gap: 2rem;

      .log-out-item:hover{
        color: red;
      }
    }      
}