@import "../styles/shadows.scss";

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .page-wrapper {
    flex: 1;
  }
  
  .footer {
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 0.5rem;
    box-shadow: $cardShadow;
}
  