@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.login-container {
    text-align: center;
}

.big-title{
    font-family: 'Fasthand', cursive;
    font-size: 4rem;
}

