@import "../../styles/colors.scss";

.form {
    width: 100%;
}


.alert {
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 500px;
    text-align: center;
    font-size: larger;
    border-radius: 3px;
}

.success {
    color: white;
    background-color:$successMain;
    border: 1px solid $successDark;
}

.error {
    color: white;
    background-color: $errorMain;
    border: 1px solid $errorDark;
    margin-bottom: 0.5rem;
}

