@import "../../styles/colors.scss";

.profile-page {
  color: white;
  margin: 0 auto;
  margin-top: 6rem;
  width: 600px;
  text-align: center;


  .user-info-card {
    padding: 1rem 2rem 1rem 2rem;
    background-color: $primaryDark;
    border-radius: 5px;
    text-align: left;
  }
}