@import "../../styles/colors.scss";
@import "../../styles/shadows.scss";

.main-container {
    margin: 0 auto;
    width: 900px;

    .full-question-link {
        text-decoration: none;
    }

    .main-links-buttons {  
        display: flex;
        margin-top: 5rem;
        gap: 3rem;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding: 2rem;

        .filtering-buttons {
            display: flex;
            gap: 3rem;
        }       
    }

    .link-to-questions {
        background-color: $cardMain;
        padding: 1rem;
        margin: 2rem;
        text-decoration: none;
        color: white;
        border-radius: 5px;

        &:hover {
            background-color: darkslateblue;
        }

        .question-info-container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .question-info-count {
                display: flex;
                align-items: center;
                gap: 1rem;
                text-decoration: none;
            }
        }
    }
}

.new-question-link {
    background-color: $yellowFun;
    justify-self: end;
    color: black;
    padding: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid $yellowFun;
    
    &:hover {
        background-color: $yellowDark;
    }  
}

.no-questions-div {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: white;
    margin-top: 3rem;
    display: grid;
    align-items: center;

    .new-question-link{
        justify-self: center;
        margin-top: 3rem;
    }
}