$primaryMain: #BE3455;
$primaryDark: #922942;
$errorMain: #d32f2f;
$errorDark: #c62827;
$successMain: #6cc070;
$successDark: #3e7e43;

$cardMain: #313779;
$cardDark: #606275;

$smallCardMain: #41467a;
$smallCardDark: #606275;

$editMain: #262b5f;
$editDark: #181b3b;
$editText: white;

$answerCardMain: rgb(163, 145, 160);


$outlinedButtonBackground: #f3f4fa;

